<!-- Menu de gauche -->
<div class="w-80 border-r-2 border-gray-600">
    <div class="flex flex-col h-full p-4">
{#        <button class="bg-cyan-500 hover:bg-cyan-400 font-bold rounded-lg p-3 transition-colors duration-100 text-black uppercase">#}
{#            Ajouter un worklab#}
{#        </button>#}

        {{ render(controller('App\\Controller\\WorklabController::displayForm')) }}


        <!-- Liste de liens -->

        <ul class="mt-4" id="ulWorklabAside">
            {% if globalWorklabList is not empty %}
                {% for worklab in globalWorklabList %}
                    <li data-idWorklab="{{ worklab.id }}" class="flex justify-between items-center block hover:bg-cyan-400 hover:text-black py-2 px-4 pe-1 rounded-lg transition-colors duration-100">
                        <a href="{{ path('app_worklab_active', {id:worklab.id}) }}"
                           class="w-11/12 truncate">
                            {{ worklab.name }}
                        </a>
                        <div class="p-1 hover:text-red-500 cursor-pointer transition-colors duration-100">
                            <a class="p-1.5" href="{{ path('app_worklab_delete', {id:worklab.id}) }}" onclick="return confirm('Certain de vouloir supprimer ce worklab ?')">
                                <i class="fa-solid fa-trash"></i>
                            </a>

                        </div>
                    </li>
                {% endfor %}

            {% endif %}



        </ul>
    </div>
</div>