{% set emailErrors = registrationForm.email.vars.errors %}
{% set usernameErrors = registrationForm.userName.vars.errors %}
{% set passErrors = registrationForm.plainPassword.vars.errors %}
{% set checkboxErrors = registrationForm.agreeTerms.vars.errors %}


{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="text-4xl my-12">Enregistrement</h1>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {
            attr: {
                class: 'text-start w-1/2 mx-auto'
            }
        }) }}
        <div>
            {{ form_label(registrationForm.email ) }}
            {% if emailErrors|length %}
                <ul class="bg-red-300 p-2 rounded-lg mb-1.5 font-bold text-center">
                    {% for error in emailErrors %}
                        <li class="text-red-950">{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ form_widget(registrationForm.email ) }}
        </div>

        <div>
            {{ form_label(registrationForm.userName ) }}
            {% if usernameErrors|length %}
                <ul class="bg-red-300 p-2 rounded-lg mb-1.5 font-bold text-center">
                    {% for error in usernameErrors %}
                        <li class="text-red-950">{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ form_widget(registrationForm.userName ) }}
        </div>

        <div>
            {{ form_label(registrationForm.plainPassword ) }}
            {% if passErrors|length %}
                <ul class="bg-red-300 p-2 rounded-lg mb-1.5 font-bold text-center">
                    {% for error in passErrors %}
                        <li class="text-red-950">{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ form_widget(registrationForm.plainPassword ) }}
        </div>

        <div>
            <div>
                {% if checkboxErrors|length %}
                    <ul class="bg-red-300 p-2 rounded-lg mb-1.5 font-bold text-center">
                        {% for error in checkboxErrors %}
                            <li class="text-red-950">{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="flex h-6 items-center mb-5">
                {{ form_widget(registrationForm.agreeTerms, {
                    'attr': {'class': 'h-6 w-6 me-3 accent-cyan-400'}
                }) }}
                {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions * ') }}
            </div>
        </div>

        <div class="text-center">
            <button type="submit"
                    class="bg-cyan-500 hover:bg-cyan-400 font-bold rounded-lg p-3 transition-colors duration-100 text-black"
            >
                S'enregistrer
            </button>
        </div>
        {{ form_end(registrationForm) }}
    </div>


{% endblock %}
